<section class="hero-content">
    <h1 class="hero-title">{{ landing.heroTitle }}</h1>
</section>

<section class="selling-points container clearfix">
    <div class="point column third">
        <span class="ion-icon-goes-here"></span>
        <h5 class="point-title">Addictive</h5>
        <p class="point-description">It might be simple, but you won't be able to stop playing!</p>
    </div>

    <div class="point column third">
        <span class="ion-icon-goes-here"></span>
        <h5 class="point-title">Unlimited, free, ad-free</h5>
        <p class="point-description">No arbitrary limits. No distractions.</p>
    </div>

    <div class="point column third">
        <span class="ion-icon-goes-here"></span>
        <h5 class="point-title">Mobile enabled</h5>
        <p class="point-description">Play Pong wherever you go on all mobile platforms.</p>
    </div>
</section>
